extends tamplate
block content
    div
        | Hello #{userName}
        br
        | To change your password click on
        br
        a(href=`http://localhost:3000/auth/refreshPassword/${link}/${password}`) Link