extends tamplate
block content
    div
        | You successful register account on our platform
        br
        | To activate your account click on link
        br
        a(href='http://localhost:3000/auth/activate/' + link) Link
        br
        | Thanks for registration