doctype html
html
    head
        style
            include style.css
    body
        div.content
            block content
        div.footer
            | Hello from Ukraine
            br
            | my Dear User
            br
            |

            a(href='https://example.com/') Click!